/cmake-build-debug/*
/.idea/*
/bin/*
.vscode
.gitmodules
/CMakeFiles/*
/generated/*
/src/simulation-interface/generated/*
/cmake-build-debug/*
/build/*
/src/ssl-interface/generated/*
*.swp
.vscode
*pycache